In [1]:
import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": ["+1 234 567 8901", "+1 234 567 8911"],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers": ["+1 234 567 8923", "+1 234 567 8934"],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": ["+1 714 512 9752", "+1 714 512 6601"],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": None,
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": ["+1 817 934 7142"],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]

In [3]:
import pandas as pd
df = pd.DataFrame(users)
df.head()

,id,first_name,last_name,email,phone_numbers,is_customer,amount_paid,customer_from,last_updated_ts
0,1,Corrie,Van den Oord,cvandenoord0@etsy.com,"[+1 234 567 8901, +1 234 567 8911]",True,1000.55,2021-01-15,2021-02-10 01:15:00
1,2,Nikolaus,Brewitt,nbrewitt1@dailymail.co.uk,"[+1 234 567 8923, +1 234 567 8934]",True,900.00,2021-02-14,2021-02-18 03:33:00
2,3,Orelie,Penney,openney2@vistaprint.com,"[+1 714 512 9752, +1 714 512 6601]",True,850.55,2021-01-21,2021-03-15 15:16:55
3,4,Ashby,Maddocks,amaddocks3@home.pl,None,False,NaN,None,2021-04-10 17:45:30
4,5,Kurt,Rome,krome4@shutterfly.com,[+1 817 934 7142],False,NaN,None,2021-04-02 00:55:18

In this dataset we have array as the value of the phone_numbers column. for this kind of data we either keep multiple records for same person who have multiple contact or keep multiple column for phone_numbers.

In [4]:
#creating spark dataframe
from pyspark.sql import Row
user_df = spark.createDataFrame([Row(**user) for user in users])
user_df.printSchema()

ModuleNotFoundError: No module named 'pyspark'

In [5]:
user_df.show()

NameError: name 'user_df' is not defined

In [6]:
# to view our array data
user_df.select("id", "phone_numbers").show(truncate=False)

NameError: name 'user_df' is not defined

In [7]:
# now to fix this we can use explode or col or explode_outer function.
from pyspark.sql.functions import explode, col, explode_outer

ModuleNotFoundError: No module named 'pyspark'

In [8]:
#using explode we will miss 1 records that doesn't have any phone number in our final data set.
user_df.withColumn('phone_number', explode('phone_numbers')).drop('phone_numbers').show()

NameError: name 'user_df' is not defined

In [9]:
#using col to separater the two numbers.
user_df.select('id', col('phone_numbers')[0].alias('mobile'), col('phone_numbers')[1].alias('home')).show()

NameError: name 'user_df' is not defined

In [10]:
user_df.withColumn('phone_number', explode_outer('phone_numbers')).drop('phone_numbers').show()

NameError: name 'user_df' is not defined