<a href="https://colab.research.google.com/github/anil-chhetri/Miscellaneous/blob/main/%22Azure%20Databricks%22/DataFrame_string_Manuplications.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = (SparkSession.builder
        .master("local")
        .appName("Colab")
        .config('spark.ui.port', '4050')
        .getOrCreate())

In [2]:
spark

In [21]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [22]:
df = spark.createDataFrame(employees, schema=""" employee_id INT, first_name STRING, last_name STRING, 
                                              salary FLOAT, nationality STRING, phone_numbers STRING, ssn STRING """)

In [24]:
df.show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|   phone_numbers|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [25]:
from pyspark.sql import functions as f

In [27]:
df.select('*', f.concat(f.col('first_name'), f.lit(', '), f.col('last_name')).alias('fullname')).show()

+-----------+----------+---------+------+--------------+----------------+-----------+------------+
|employee_id|first_name|last_name|salary|   nationality|   phone_numbers|        ssn|    fullname|
+-----------+----------+---------+------+--------------+----------------+-----------+------------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|Scott, Tiger|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123| Henry, Ford|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|Nick, Junior|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118| Bill, Gomes|
+-----------+----------+---------+------+--------------+----------------+-----------+------------+

In [28]:
df.withColumn('fullName', f.concat(f.col('first_name'), f.lit(', '), f.col('last_name'))).show()

+-----------+----------+---------+------+--------------+----------------+-----------+------------+
|employee_id|first_name|last_name|salary|   nationality|   phone_numbers|        ssn|    fullName|
+-----------+----------+---------+------+--------------+----------------+-----------+------------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|Scott, Tiger|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123| Henry, Ford|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|Nick, Junior|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118| Bill, Gomes|
+-----------+----------+---------+------+--------------+----------------+-----------+------------+

In [29]:
help(f.concat_ws)

Help on function concat_ws in module pyspark.sql.functions:

concat_ws(sep, *cols)
    Concatenates multiple input string columns together into a single string column,
    using the given separator.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
    >>> df.select(concat_ws('-', df.s, df.d).alias('s')).collect()
    [Row(s='abcd-123')]

In [30]:
#@title
adress = [{
  "address": "89 Rusk Court",
  "city": "Portland",
  "country": "United States",
  "id": 1,
  "postal_code": "97232",
  "state": "Oregon"
}, {
  "address": "87 Dakota Pass",
  "city": "Tampa",
  "country": "United States",
  "id": 2,
  "postal_code": "33661",
  "state": "Florida"
}, {
  "address": "15 Shelley Circle",
  "city": "Lakeland",
  "country": "United States",
  "id": 3,
  "postal_code": "33811",
  "state": "Florida"
}, {
  "address": "12522 Fulton Way",
  "city": "Oklahoma City",
  "country": "United States",
  "id": 4,
  "postal_code": "73114",
  "state": "Oklahoma"
}, {
  "address": "9 Dapin Hill",
  "city": "Fairbanks",
  "country": "United States",
  "id": 5,
  "postal_code": "99709",
  "state": "Alaska"
}, {
  "address": "154 Westend Park",
  "city": "Colorado Springs",
  "country": "United States",
  "id": 6,
  "postal_code": "80910",
  "state": "Colorado"
}, {
  "address": "817 Oakridge Park",
  "city": "Bronx",
  "country": "United States",
  "id": 7,
  "postal_code": "10464",
  "state": "New York"
}, {
  "address": "119 Fair Oaks Avenue",
  "city": "Washington",
  "country": "United States",
  "id": 8,
  "postal_code": "20404",
  "state": "District of Columbia"
}, {
  "address": "8 Shelley Pass",
  "city": "Anderson",
  "country": "United States",
  "id": 9,
  "postal_code": "46015",
  "state": "Indiana"
}, {
  "address": "092 Homewood Park",
  "city": "Fullerton",
  "country": "United States",
  "id": 10,
  "postal_code": "92835",
  "state": "California"
}, {
  "address": "17206 Daystar Point",
  "city": "Flint",
  "country": "United States",
  "id": 11,
  "postal_code": "48505",
  "state": "Michigan"
}, {
  "address": "6 Spenser Lane",
  "city": "Las Vegas",
  "country": "United States",
  "id": 12,
  "postal_code": "89155",
  "state": "Nevada"
}, {
  "address": "2463 Cody Place",
  "city": "Nashville",
  "country": "United States",
  "id": 13,
  "postal_code": "37205",
  "state": "Tennessee"
}, {
  "address": "9590 Pennsylvania Park",
  "city": "San Diego",
  "country": "United States",
  "id": 14,
  "postal_code": "92132",
  "state": "California"
}, {
  "address": "2226 Barby Parkway",
  "city": "Valley Forge",
  "country": "United States",
  "id": 15,
  "postal_code": "19495",
  "state": "Pennsylvania"
}, {
  "address": "9468 Lukken Center",
  "city": "San Francisco",
  "country": "United States",
  "id": 16,
  "postal_code": "94159",
  "state": "California"
}, {
  "address": "95755 Fairfield Avenue",
  "city": "Chandler",
  "country": "United States",
  "id": 17,
  "postal_code": "85246",
  "state": "Arizona"
}, {
  "address": "596 Dunning Street",
  "city": "Montgomery",
  "country": "United States",
  "id": 18,
  "postal_code": "36177",
  "state": "Alabama"
}, {
  "address": "48294 Superior Trail",
  "city": "El Paso",
  "country": "United States",
  "id": 19,
  "postal_code": "88584",
  "state": "Texas"
}, {
  "address": "96315 Arizona Pass",
  "city": "Appleton",
  "country": "United States",
  "id": 20,
  "postal_code": "54915",
  "state": "Wisconsin"
}, {
  "address": "26142 Tony Trail",
  "city": "Kingsport",
  "country": "United States",
  "id": 21,
  "postal_code": "37665",
  "state": "Tennessee"
}, {
  "address": "5036 Everett Point",
  "city": "Las Vegas",
  "country": "United States",
  "id": 22,
  "postal_code": "89125",
  "state": "Nevada"
}, {
  "address": "10 Spenser Terrace",
  "city": "Wilmington",
  "country": "United States",
  "id": 23,
  "postal_code": "19810",
  "state": "Delaware"
}, {
  "address": "27 Dayton Lane",
  "city": "Las Vegas",
  "country": "United States",
  "id": 24,
  "postal_code": "89130",
  "state": "Nevada"
}, {
  "address": "50945 Vahlen Point",
  "city": "Champaign",
  "country": "United States",
  "id": 25,
  "postal_code": "61825",
  "state": "Illinois"
}, {
  "address": "57897 Farragut Hill",
  "city": "Billings",
  "country": "United States",
  "id": 26,
  "postal_code": "59112",
  "state": "Montana"
}, {
  "address": "871 Dunning Avenue",
  "city": "Shreveport",
  "country": "United States",
  "id": 27,
  "postal_code": "71115",
  "state": "Louisiana"
}, {
  "address": "9399 Myrtle Avenue",
  "city": "Bradenton",
  "country": "United States",
  "id": 28,
  "postal_code": "34210",
  "state": "Florida"
}, {
  "address": "0 Northport Trail",
  "city": "Minneapolis",
  "country": "United States",
  "id": 29,
  "postal_code": "55446",
  "state": "Minnesota"
}, {
  "address": "6 Ridgeway Point",
  "city": "Pompano Beach",
  "country": "United States",
  "id": 30,
  "postal_code": "33075",
  "state": "Florida"
}, {
  "address": "981 Randy Avenue",
  "city": "Corona",
  "country": "United States",
  "id": 31,
  "postal_code": "92878",
  "state": "California"
}, {
  "address": "09 Ohio Place",
  "city": "Winston Salem",
  "country": "United States",
  "id": 32,
  "postal_code": "27157",
  "state": "North Carolina"
}, {
  "address": "07306 Dixon Road",
  "city": "Sarasota",
  "country": "United States",
  "id": 33,
  "postal_code": "34276",
  "state": "Florida"
}, {
  "address": "291 Bayside Crossing",
  "city": "San Diego",
  "country": "United States",
  "id": 34,
  "postal_code": "92176",
  "state": "California"
}, {
  "address": "6161 Pleasure Point",
  "city": "Atlanta",
  "country": "United States",
  "id": 35,
  "postal_code": "30336",
  "state": "Georgia"
}, {
  "address": "36 Summerview Street",
  "city": "Tulsa",
  "country": "United States",
  "id": 36,
  "postal_code": "74149",
  "state": "Oklahoma"
}, {
  "address": "7 Marquette Pass",
  "city": "Washington",
  "country": "United States",
  "id": 37,
  "postal_code": "20260",
  "state": "District of Columbia"
}, {
  "address": "4711 Darwin Center",
  "city": "Atlanta",
  "country": "United States",
  "id": 38,
  "postal_code": "30392",
  "state": "Georgia"
}, {
  "address": "28 Holy Cross Plaza",
  "city": "Philadelphia",
  "country": "United States",
  "id": 39,
  "postal_code": "19120",
  "state": "Pennsylvania"
}, {
  "address": "43262 Crowley Park",
  "city": "Tulsa",
  "country": "United States",
  "id": 40,
  "postal_code": "74108",
  "state": "Oklahoma"
}, {
  "address": "44 Dixon Drive",
  "city": "Dallas",
  "country": "United States",
  "id": 41,
  "postal_code": "75353",
  "state": "Texas"
}, {
  "address": "42493 Chive Road",
  "city": "Houston",
  "country": "United States",
  "id": 42,
  "postal_code": "77228",
  "state": "Texas"
}, {
  "address": "645 Starling Place",
  "city": "Hialeah",
  "country": "United States",
  "id": 43,
  "postal_code": "33018",
  "state": "Florida"
}, {
  "address": "92942 Waywood Crossing",
  "city": "Lansing",
  "country": "United States",
  "id": 44,
  "postal_code": "48912",
  "state": "Michigan"
}, {
  "address": "30 Dorton Circle",
  "city": "Yakima",
  "country": "United States",
  "id": 45,
  "postal_code": "98907",
  "state": "Washington"
}, {
  "address": "0677 John Wall Pass",
  "city": "Phoenix",
  "country": "United States",
  "id": 46,
  "postal_code": "85010",
  "state": "Arizona"
}, {
  "address": "23432 Dixon Court",
  "city": "Meridian",
  "country": "United States",
  "id": 47,
  "postal_code": "39305",
  "state": "Mississippi"
}, {
  "address": "649 Debra Point",
  "city": "Salt Lake City",
  "country": "United States",
  "id": 48,
  "postal_code": "84140",
  "state": "Utah"
}, {
  "address": "50 Jenifer Parkway",
  "city": "Jacksonville",
  "country": "United States",
  "id": 49,
  "postal_code": "32230",
  "state": "Florida"
}, {
  "address": "8845 Gerald Point",
  "city": "Allentown",
  "country": "United States",
  "id": 50,
  "postal_code": "18105",
  "state": "Pennsylvania"
}, {
  "address": "76457 Nancy Parkway",
  "city": "Dallas",
  "country": "United States",
  "id": 51,
  "postal_code": "75210",
  "state": "Texas"
}, {
  "address": "91546 Badeau Trail",
  "city": "Columbus",
  "country": "United States",
  "id": 52,
  "postal_code": "31998",
  "state": "Georgia"
}, {
  "address": "1688 Pearson Plaza",
  "city": "Canton",
  "country": "United States",
  "id": 53,
  "postal_code": "44710",
  "state": "Ohio"
}, {
  "address": "83 Lawn Avenue",
  "city": "Sacramento",
  "country": "United States",
  "id": 54,
  "postal_code": "94273",
  "state": "California"
}, {
  "address": "46 Harper Hill",
  "city": "Southfield",
  "country": "United States",
  "id": 55,
  "postal_code": "48076",
  "state": "Michigan"
}, {
  "address": "5521 Homewood Drive",
  "city": "Washington",
  "country": "United States",
  "id": 56,
  "postal_code": "20436",
  "state": "District of Columbia"
}, {
  "address": "8 Muir Road",
  "city": "Corona",
  "country": "United States",
  "id": 57,
  "postal_code": "92878",
  "state": "California"
}, {
  "address": "01251 Coleman Parkway",
  "city": "Garland",
  "country": "United States",
  "id": 58,
  "postal_code": "75049",
  "state": "Texas"
}, {
  "address": "4 Artisan Plaza",
  "city": "Worcester",
  "country": "United States",
  "id": 59,
  "postal_code": "01605",
  "state": "Massachusetts"
}, {
  "address": "8834 Sutherland Lane",
  "city": "West Palm Beach",
  "country": "United States",
  "id": 60,
  "postal_code": "33411",
  "state": "Florida"
}, {
  "address": "962 Cascade Avenue",
  "city": "Norwalk",
  "country": "United States",
  "id": 61,
  "postal_code": "06859",
  "state": "Connecticut"
}, {
  "address": "538 Memorial Street",
  "city": "Columbus",
  "country": "United States",
  "id": 62,
  "postal_code": "31914",
  "state": "Georgia"
}, {
  "address": "7757 Carioca Plaza",
  "city": "Akron",
  "country": "United States",
  "id": 63,
  "postal_code": "44329",
  "state": "Ohio"
}, {
  "address": "75793 Talmadge Avenue",
  "city": "Washington",
  "country": "United States",
  "id": 64,
  "postal_code": "20238",
  "state": "District of Columbia"
}, {
  "address": "9643 Mcguire Pass",
  "city": "New York City",
  "country": "United States",
  "id": 65,
  "postal_code": "10004",
  "state": "New York"
}, {
  "address": "07921 Bluejay Terrace",
  "city": "Charlotte",
  "country": "United States",
  "id": 66,
  "postal_code": "28210",
  "state": "North Carolina"
}, {
  "address": "385 Brentwood Trail",
  "city": "Oklahoma City",
  "country": "United States",
  "id": 67,
  "postal_code": "73147",
  "state": "Oklahoma"
}, {
  "address": "60 Manufacturers Drive",
  "city": "Albuquerque",
  "country": "United States",
  "id": 68,
  "postal_code": "87110",
  "state": "New Mexico"
}, {
  "address": "69 Kim Terrace",
  "city": "Glendale",
  "country": "United States",
  "id": 69,
  "postal_code": "91205",
  "state": "California"
}, {
  "address": "39 Graedel Street",
  "city": "San Antonio",
  "country": "United States",
  "id": 70,
  "postal_code": "78255",
  "state": "Texas"
}, {
  "address": "45 Buhler Center",
  "city": "Tuscaloosa",
  "country": "United States",
  "id": 71,
  "postal_code": "35487",
  "state": "Alabama"
}, {
  "address": "6235 Bellgrove Point",
  "city": "North Port",
  "country": "United States",
  "id": 72,
  "postal_code": "34290",
  "state": "Florida"
}, {
  "address": "58 Springview Park",
  "city": "Oklahoma City",
  "country": "United States",
  "id": 73,
  "postal_code": "73157",
  "state": "Oklahoma"
}, {
  "address": "83 Old Shore Plaza",
  "city": "Evansville",
  "country": "United States",
  "id": 74,
  "postal_code": "47719",
  "state": "Indiana"
}, {
  "address": "6 Melby Terrace",
  "city": "Indianapolis",
  "country": "United States",
  "id": 75,
  "postal_code": "46207",
  "state": "Indiana"
}, {
  "address": "11860 Donald Way",
  "city": "Zephyrhills",
  "country": "United States",
  "id": 76,
  "postal_code": "33543",
  "state": "Florida"
}, {
  "address": "38423 Merchant Center",
  "city": "Memphis",
  "country": "United States",
  "id": 77,
  "postal_code": "38104",
  "state": "Tennessee"
}, {
  "address": "65893 Texas Pass",
  "city": "Houston",
  "country": "United States",
  "id": 78,
  "postal_code": "77055",
  "state": "Texas"
}, {
  "address": "25707 Valley Edge Way",
  "city": "Little Rock",
  "country": "United States",
  "id": 79,
  "postal_code": "72209",
  "state": "Arkansas"
}, {
  "address": "3 Stuart Drive",
  "city": "Youngstown",
  "country": "United States",
  "id": 80,
  "postal_code": "44511",
  "state": "Ohio"
}, {
  "address": "165 Monterey Point",
  "city": "Bronx",
  "country": "United States",
  "id": 81,
  "postal_code": "10459",
  "state": "New York"
}, {
  "address": "1022 Sugar Point",
  "city": "Syracuse",
  "country": "United States",
  "id": 82,
  "postal_code": "13205",
  "state": "New York"
}, {
  "address": "317 Saint Paul Lane",
  "city": "Des Moines",
  "country": "United States",
  "id": 83,
  "postal_code": "50981",
  "state": "Iowa"
}, {
  "address": "48683 Eagle Crest Way",
  "city": "Newark",
  "country": "United States",
  "id": 84,
  "postal_code": "19725",
  "state": "Delaware"
}, {
  "address": "87 Rieder Trail",
  "city": "Phoenix",
  "country": "United States",
  "id": 85,
  "postal_code": "85025",
  "state": "Arizona"
}, {
  "address": "128 Lyons Pass",
  "city": "Dallas",
  "country": "United States",
  "id": 86,
  "postal_code": "75231",
  "state": "Texas"
}, {
  "address": "258 Saint Paul Terrace",
  "city": "Kansas City",
  "country": "United States",
  "id": 87,
  "postal_code": "64136",
  "state": "Missouri"
}, {
  "address": "617 Summerview Pass",
  "city": "Santa Barbara",
  "country": "United States",
  "id": 88,
  "postal_code": "93150",
  "state": "California"
}, {
  "address": "189 Crescent Oaks Avenue",
  "city": "Evansville",
  "country": "United States",
  "id": 89,
  "postal_code": "47705",
  "state": "Indiana"
}, {
  "address": "8780 Sutherland Street",
  "city": "Harrisburg",
  "country": "United States",
  "id": 90,
  "postal_code": "17140",
  "state": "Pennsylvania"
}, {
  "address": "3 Quincy Way",
  "city": "Alexandria",
  "country": "United States",
  "id": 91,
  "postal_code": "22313",
  "state": "Virginia"
}, {
  "address": "1 Lakeland Drive",
  "city": "Lexington",
  "country": "United States",
  "id": 92,
  "postal_code": "40576",
  "state": "Kentucky"
}, {
  "address": "0281 Summit Junction",
  "city": "Canton",
  "country": "United States",
  "id": 93,
  "postal_code": "44720",
  "state": "Ohio"
}, {
  "address": "9820 Haas Lane",
  "city": "Toledo",
  "country": "United States",
  "id": 94,
  "postal_code": "43635",
  "state": "Ohio"
}, {
  "address": "6031 Lake View Plaza",
  "city": "Santa Ana",
  "country": "United States",
  "id": 95,
  "postal_code": "92705",
  "state": "California"
}, {
  "address": "6 Dwight Point",
  "city": "Santa Monica",
  "country": "United States",
  "id": 96,
  "postal_code": "90410",
  "state": "California"
}, {
  "address": "71 Ohio Alley",
  "city": "Tacoma",
  "country": "United States",
  "id": 97,
  "postal_code": "98481",
  "state": "Washington"
}, {
  "address": "4 Petterle Road",
  "city": "San Francisco",
  "country": "United States",
  "id": 98,
  "postal_code": "94121",
  "state": "California"
}, {
  "address": "531 Sugar Crossing",
  "city": "Houston",
  "country": "United States",
  "id": 99,
  "postal_code": "77218",
  "state": "Texas"
}, {
  "address": "5 Erie Plaza",
  "city": "Duluth",
  "country": "United States",
  "id": 100,
  "postal_code": "30096",
  "state": "Georgia"
}]

In [32]:
address_df = spark.createDataFrame(adress)

In [36]:
address_df.show()

+--------------------+----------------+-------------+---+-----------+--------------------+
|             address|            city|      country| id|postal_code|               state|
+--------------------+----------------+-------------+---+-----------+--------------------+
|       89 Rusk Court|        Portland|United States|  1|      97232|              Oregon|
|      87 Dakota Pass|           Tampa|United States|  2|      33661|             Florida|
|   15 Shelley Circle|        Lakeland|United States|  3|      33811|             Florida|
|    12522 Fulton Way|   Oklahoma City|United States|  4|      73114|            Oklahoma|
|        9 Dapin Hill|       Fairbanks|United States|  5|      99709|              Alaska|
|    154 Westend Park|Colorado Springs|United States|  6|      80910|            Colorado|
|   817 Oakridge Park|           Bronx|United States|  7|      10464|            New York|
|119 Fair Oaks Avenue|      Washington|United States|  8|      20404|District of Columbia|
|      8 Shelley Pass|        Anderson|United States|  9|      46015|             Indiana|
|   092 Homewood Park|       Fullerton|United States| 10|      92835|          California|
| 17206 Daystar Point|           Flint|United States| 11|      48505|            Michigan|
|      6 Spenser Lane|       Las Vegas|United States| 12|      89155|              Nevada|
|     2463 Cody Place|       Nashville|United States| 13|      37205|           Tennessee|
|9590 Pennsylvania...|       San Diego|United States| 14|      92132|          California|
|  2226 Barby Parkway|    Valley Forge|United States| 15|      19495|        Pennsylvania|
|  9468 Lukken Center|   San Francisco|United States| 16|      94159|          California|
|95755 Fairfield A...|        Chandler|United States| 17|      85246|             Arizona|
|  596 Dunning Street|      Montgomery|United States| 18|      36177|             Alabama|
|48294 Superior Trail|         El Paso|United States| 19|      88584|               Texas|
|  96315 Arizona Pass|        Appleton|United States| 20|      54915|           Wisconsin|
+--------------------+----------------+-------------+---+-----------+--------------------+
only showing top 20 rows

In [37]:
address_df.printSchema()

root
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- id: long (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- state: string (nullable = true)

In [43]:
address_df.withColumn('fullAddress', f.concat_ws(', ', 'address', 'city','state', 'country', 'postal_code')) \
.select('id', 'fullAddress') \
.show(truncate=False)

+---+----------------------------------------------------------------------------+
|id |fullAddress                                                                 |
+---+----------------------------------------------------------------------------+
|1  |89 Rusk Court, Portland, Oregon, United States, 97232                       |
|2  |87 Dakota Pass, Tampa, Florida, United States, 33661                        |
|3  |15 Shelley Circle, Lakeland, Florida, United States, 33811                  |
|4  |12522 Fulton Way, Oklahoma City, Oklahoma, United States, 73114             |
|5  |9 Dapin Hill, Fairbanks, Alaska, United States, 99709                       |
|6  |154 Westend Park, Colorado Springs, Colorado, United States, 80910          |
|7  |817 Oakridge Park, Bronx, New York, United States, 10464                    |
|8  |119 Fair Oaks Avenue, Washington, District of Columbia, United States, 20404|
|9  |8 Shelley Pass, Anderson, Indiana, United States, 46015                     |
|10 |092 Homewood Park, Fullerton, California, United States, 92835              |
|11 |17206 Daystar Point, Flint, Michigan, United States, 48505                  |
|12 |6 Spenser Lane, Las Vegas, Nevada, United States, 89155                     |
|13 |2463 Cody Place, Nashville, Tennessee, United States, 37205                 |
|14 |9590 Pennsylvania Park, San Diego, California, United States, 92132         |
|15 |2226 Barby Parkway, Valley Forge, Pennsylvania, United States, 19495        |
|16 |9468 Lukken Center, San Francisco, California, United States, 94159         |
|17 |95755 Fairfield Avenue, Chandler, Arizona, United States, 85246             |
|18 |596 Dunning Street, Montgomery, Alabama, United States, 36177               |
|19 |48294 Superior Trail, El Paso, Texas, United States, 88584                  |
|20 |96315 Arizona Pass, Appleton, Wisconsin, United States, 54915               |
+---+----------------------------------------------------------------------------+
only showing top 20 rows

In [44]:
df.show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|   phone_numbers|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [47]:
help(f.lower)

Help on function lower in module pyspark.sql.functions:

lower(col)
    Converts a string expression to lower case.

    .. versionadded:: 1.5

In [58]:
(df
  .select('employee_id', 'nationality')
  .withColumn('nationality_lower', f.lower('nationality'))
  .withColumn('nationality_upper', f.upper('nationality'))
  .withColumn('nationality_initcap', f.initcap('nationality'))
  .withColumn('nationality_lenght', f.length('nationality'))
).show()

+-----------+--------------+-----------------+-----------------+-------------------+------------------+
|employee_id|   nationality|nationality_lower|nationality_upper|nationality_initcap|nationality_lenght|
+-----------+--------------+-----------------+-----------------+-------------------+------------------+
|          1| united states|    united states|    UNITED STATES|      United States|                13|
|          2|         India|            india|            INDIA|              India|                 5|
|          3|united KINGDOM|   united kingdom|   UNITED KINGDOM|     United Kingdom|                14|
|          4|     AUSTRALIA|        australia|        AUSTRALIA|          Australia|                 9|
+-----------+--------------+-----------------+-----------------+-------------------+------------------+

In [59]:
help(f.substring)

Help on function substring in module pyspark.sql.functions:

substring(str, pos, len)
    Substring starts at `pos` and is of length `len` when str is String type or
    returns the slice of byte array that starts at `pos` in byte and is of length `len`
    when str is Binary type.

    .. versionadded:: 1.5.0

    Notes
    -----
    The position is not zero based, but 1 based index.

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(substring(df.s, 1, 2).alias('s')).collect()
    [Row(s='ab')]

In [60]:
t = [('x',)]

In [61]:
dummy = spark.createDataFrame(t, schema="dummy String")

In [64]:
dummy.select(f.substring(f.lit('Hello world'), 7, 5)).show()

+----------------------------+
|substring(Hello world, 7, 5)|
+----------------------------+
|                       world|
+----------------------------+

In [66]:
dummy.select(f.substring(f.lit('hello world'), -5, 5)).show()

+-----------------------------+
|substring(hello world, -5, 5)|
+-----------------------------+
|                        world|
+-----------------------------+

In [67]:
df.show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|   phone_numbers|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [75]:
(df.select('employee_id', 'phone_numbers', 'ssn')
  .withColumn('phone_number4', f.substring(f.col('phone_numbers'), -4, 4).cast('int'))
  .withColumn('ssn4', f.substring('ssn', 8, 4).cast('int'))
).show()

+-----------+----------------+-----------+-------------+----+
|employee_id|   phone_numbers|        ssn|phone_number4|ssn4|
+-----------+----------------+-----------+-------------+----+
|          1| +1 123 456 7890|123 45 6789|         7890|6789|
|          2|+91 234 567 8901|456 78 9123|         8901|9123|
|          3|+44 111 111 1111|222 33 4444|         1111|4444|
|          4|+61 987 654 3210|789 12 6118|         3210|6118|
+-----------+----------------+-----------+-------------+----+

In [77]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890,+1 234 567 8901", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111,+44 222 222 2222", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210,+61 876 543 2109", "789 12 6118"
                     )
                ]

In [78]:
df = spark.createDataFrame(employees, schema=""" employee_id INT, first_name STRING, last_name STRING, 
                                            salary FLOAT,  country STRING, phone_numbers STRING, ssn STRING """)

In [79]:
df.show()

+-----------+----------+---------+------+--------------+--------------------+-----------+
|employee_id|first_name|last_name|salary|       country|       phone_numbers|        ssn|
+-----------+----------+---------+------+--------------+--------------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states|+1 123 456 7890,+...|123 45 6789|
|          2|     Henry|     Ford|1250.0|         India|    +91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111,...|222 33 4444|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210,...|789 12 6118|
+-----------+----------+---------+------+--------------+--------------------+-----------+

In [81]:
help(f.split)

Help on function split in module pyspark.sql.functions:

split(str, pattern, limit=-1)
    Splits str around matches of the given pattern.

    .. versionadded:: 1.5.0

    Parameters
    ----------
    str : :class:`~pyspark.sql.Column` or str
        a string expression to split
    pattern : str
        a string representing a regular expression. The regex string should be
        a Java regular expression.
    limit : int, optional
        an integer which controls the number of times `pattern` is applied.

        * ``limit > 0``: The resulting array's length will not be more than `limit`, and the
                         resulting array's last entry will contain all input beyond the last
                         matched pattern.
        * ``limit <= 0``: `pattern` will be applied as many times as possible, and the resulting
                          array can be of any size.

        .. versionchanged:: 3.0
           `split` now takes an optional `limit` field. If not provided, default limit value is -1.

    Examples
    --------
    >>> df = spark.createDataFrame([('oneAtwoBthreeC',)], ['s',])
    >>> df.select(split(df.s, '[ABC]', 2).alias('s')).collect()
    [Row(s=['one', 'twoBthreeC'])]
    >>> df.select(split(df.s, '[ABC]', -1).alias('s')).collect()
    [Row(s=['one', 'two', 'three', ''])]

In [93]:
#using split and getting only 1 element of the array.
(df
 .select('employee_id', 'phone_numbers', 'ssn')
 .withColumn('phone_numbersArray', f.split('phone_numbers', ','))
 .withColumn('ssn4', f.split('ssn', ' ')[2])
 ).show(truncate=False)

+-----------+---------------------------------+-----------+------------------------------------+----+
|employee_id|phone_numbers                    |ssn        |phone_numbersArray                  |ssn4|
+-----------+---------------------------------+-----------+------------------------------------+----+
|1          |+1 123 456 7890,+1 234 567 8901  |123 45 6789|[+1 123 456 7890, +1 234 567 8901]  |6789|
|2          |+91 234 567 8901                 |456 78 9123|[+91 234 567 8901]                  |9123|
|3          |+44 111 111 1111,+44 222 222 2222|222 33 4444|[+44 111 111 1111, +44 222 222 2222]|4444|
|4          |+61 987 654 3210,+61 876 543 2109|789 12 6118|[+61 987 654 3210, +61 876 543 2109]|6118|
+-----------+---------------------------------+-----------+------------------------------------+----+

In [96]:
(df
 .select('employee_id', 'phone_numbers', 'ssn')
 .withColumn('phone_numbersArray', f.split('phone_numbers', ','))
 .withColumn('ssn4', f.split('ssn', ' ')[2].cast('int'))
 ).show(truncate=False)

+-----------+---------------------------------+-----------+------------------------------------+----+
|employee_id|phone_numbers                    |ssn        |phone_numbersArray                  |ssn4|
+-----------+---------------------------------+-----------+------------------------------------+----+
|1          |+1 123 456 7890,+1 234 567 8901  |123 45 6789|[+1 123 456 7890, +1 234 567 8901]  |6789|
|2          |+91 234 567 8901                 |456 78 9123|[+91 234 567 8901]                  |9123|
|3          |+44 111 111 1111,+44 222 222 2222|222 33 4444|[+44 111 111 1111, +44 222 222 2222]|4444|
|4          |+61 987 654 3210,+61 876 543 2109|789 12 6118|[+61 987 654 3210, +61 876 543 2109]|6118|
+-----------+---------------------------------+-----------+------------------------------------+----+

In [95]:
help(df.show)

Help on method show in module pyspark.sql.dataframe:

show(n=20, truncate=True, vertical=False) method of pyspark.sql.dataframe.DataFrame instance
    Prints the first ``n`` rows to the console.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    n : int, optional
        Number of rows to show.
    truncate : bool or int, optional
        If set to ``True``, truncate strings longer than 20 chars by default.
        If set to a number greater than one, truncates long strings to length ``truncate``
        and align cells right.
    vertical : bool, optional
        If set to ``True``, print output rows vertically (one line
        per column value).

    Examples
    --------
    >>> df
    DataFrame[age: int, name: string]
    >>> df.show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  5|  Bob|
    +---+-----+
    >>> df.show(truncate=3)
    +---+----+
    |age|name|
    +---+----+
    |  2| Ali|
    |  5| Bob|
    +---+----+
    >>> df.show(vertical=True)
    -RECORD 0-----
     age  | 2
     name | Alice
    -RECORD 1-----
     age  | 5
     name | Bob

In [99]:
(
    df
    .select('employee_id', 'first_name', 'phone_numbers')
    .withColumn('phone_number_row', f.explode(f.split('phone_numbers', ',')))
).show(truncate=False)

+-----------+----------+---------------------------------+----------------+
|employee_id|first_name|phone_numbers                    |phone_number_row|
+-----------+----------+---------------------------------+----------------+
|1          |Scott     |+1 123 456 7890,+1 234 567 8901  |+1 123 456 7890 |
|1          |Scott     |+1 123 456 7890,+1 234 567 8901  |+1 234 567 8901 |
|2          |Henry     |+91 234 567 8901                 |+91 234 567 8901|
|3          |Nick      |+44 111 111 1111,+44 222 222 2222|+44 111 111 1111|
|3          |Nick      |+44 111 111 1111,+44 222 222 2222|+44 222 222 2222|
|4          |Bill      |+61 987 654 3210,+61 876 543 2109|+61 987 654 3210|
|4          |Bill      |+61 987 654 3210,+61 876 543 2109|+61 876 543 2109|
+-----------+----------+---------------------------------+----------------+

In [100]:
help(f.lpad)

Help on function lpad in module pyspark.sql.functions:

lpad(col, len, pad)
    Left-pad the string column to width `len` with `pad`.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(lpad(df.s, 6, '#').alias('s')).collect()
    [Row(s='##abcd')]